.circulo {
    width: 100px; 
    height: 100px; 
    background:green;
    border-radius: 50%;
}

.rectangulo {
    width: 250px; 
    height: 100px; 
    background:blue;
}

.triangulo {
    width: 5px;
    height: 0;
    border-right: 100px solid transparent;
    border-left: 100px solid transparent;
    border-bottom: 100px solid purple;
}
